{% load static %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/client.css' %}">
<script type="text/javascript" src="{% static 'js/placeholder.js' %}"></script>

<html>
	<h3 class="txt">TARA testklient</h3>
	<hr>
  	<h4 class="txt">Parameetrid</h4>
  	<div class="container-fluid">
  		<form class="form-inline" id="paramForm" method="post"> {% csrf_token %}
		  	<pre>
		  		<div class="row">
		  			<div class="col-sm-12 param">  
					{% for k, v in params.items %}
						<span {% if v == "removed" %} style="text-Decoration:line-through" {% endif %}>
								{{ k }}: {{ v }}
						</span>
						</br>
					{% endfor %}
					</div>
			  		{% for field in form %}
			  			<div class="col-sm-3 input-group">
				    		{{ field }}
				    		<span type="button" onclick="rmvParam('{{ field.field.widget.attrs.id }}','{{ field.field.widget.attrs.placeholder }}')" id='rmvbtn-{{ field.field.widget.attrs.id }}' class="btn glyphicon glyphicon-remove input-group-addon" style="width: 15px
				    		;"></span> 
			    		</div>
					{% endfor %}
		  		</div>
				<div class="row">
					<button type="submit" onclick="enableInput()" id="main_form" class="col-sm-2 btn btn-primary">Muuda</button>
				</div>  
			</pre>
		</form>
	</div> 
	<div class="row">
		<pre class="txt">
				<form method="get">
					<input type="submit" value="Päri autoriseerimiskood" name="auth" id="auth" class="btn btn-success"/>
				</form>
				{% if auth_query is not None %}
					GET {{ auth_query }}
				{% endif %}
		</pre>
	</div>
	<div class="row">
		<pre class="txt">
			<form method="get">
				<input type="submit" value="Päri identsustõend" name="idtoken" id="id_token" class="btn btn-success"/>
			</form>
			{% if post_params is not None %}
				POST {{ tokenUrl }} </br>
				Content-Type: application/x-www-form-urlencoded </br>
				Authorization: Basic {{ b64value }} </br></br>

				Params: </br>
				{% for k, v in post_params.items %}
					{{ k }}: {{ v }} </br>
				{% endfor %}
			{% endif %}
		</pre>
		</br>
	</div>
	<hr>
	<div class="row">
		<h4 class="txt"> Vastuspäring </h4>
		<pre class="txt">
				{% for item in headers %}
					{{ item.0 }}: {{ item.1 }} </br>
				{% endfor %}
			</br>
				{% for k, v in message.items %}
					{{ k }}: {{ v }} </br>
				{% endfor %}
				{{ response_error }}
		</pre>
	</div>
</html>