/* Buttons */

.btn {
	border: 1px solid grey;
}

/* Code blocks */

.txt {
    margin-left: 30px;
    margin-right: 350px;
}

code {
    white-space: normal;
}

pre {
    white-space: normal;
}

.param {
    margin-bottom: 15px;
}

/* Form */

.form {
    margin-right: 25px;
}

.form-control {
    margin-bottom: 5px;
    margin-left: 15px;
}

#main_form {
	margin-top: 15px;
	margin-left: 15px;
}


