/* Buttons */

#main_form {
	margin-top: 15px;
	margin-left: 15px;
}

/* Code blocks */

.txt {
    margin-left: 30px;
    margin-right: 350px;
}

code {
    white-space: normal;
}

pre {
    white-space: normal;
}

.param {
    margin-bottom: 15px;
}

/* Form */

.form {
    margin-right: 15px;
}

.input-group {
    margin-left: 15px;
}

/* Other */

.keys {
	margin-left: 5px;
}
